{
  "test": ".ts",
  "module": {
    "type": "commonjs"
  },
  "exclude": "(__test__|.test.js)",
  "jsc": {
    "target": "es3",
    "externalHelpers": false,

    "parser": {
      "syntax": "typescript",
      "jsx": false,
      "decorators": false,
      "dynamicImport": false
    }
  }
}
