name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and test

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version:
          - 10
          - 12
          - 16

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ matrix.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install
        run: npm install --prefer-offline

      - name: Build
        run: |
          npm run build
          npm run copy-ts-defintions

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Generate code coverage
        if: success() && github.ref == 'refs/heads/main' && ${{ matrix.os }} == 'ubuntu-latest' && 16 == ${{ matrix.node-version }}
        uses: paambaati/codeclimate-action@v5.0.0
        env:
          CC_TEST_REPORTER_ID: b4ef7769e0f8f04456e8e1168b4beb44561bd5ce9ca216458a164e19c4cf7308
        with:
          coverageCommand: npm run coverage
          debug: true

      - name: Semantic Release
        if: success() && github.ref == 'refs/heads/main' && ${{ matrix.os }} == 'ubuntu-latest' && 16 == ${{ matrix.node-version }}
        uses: cycjimmy/semantic-release-action@v3
        with:
          branches: "main"
          extra_plugins: |
            @semantic-release/changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
